- if user_signed_in? and current_user.owner? photo
  .btn-group.btn-group-justified
    = link_to 'Usuń', photo, :method => :delete, :data => { :confirm => 'Jesteś pewny?' }, class: 'btn btn-danger'
- if admin_signed_in?
  .btn-group.btn-group-justified
    - if photo.accepted == false
      = link_to 'Akceptuj', mark_accepted_photo_path(photo), class: 'btn btn-primary'
    - else
      = link_to 'Usuń akceptację!', mark_not_accepted_photo_path(photo), class: 'btn btn-danger'
    = link_to 'Usuń', photo, :method => :delete, :data => { :confirm => 'Jesteś pewny?' }, class: 'btn btn-danger'
= link_to image_tag( photo.image.url, class: 'img-responsive center-block'), photo.image.url
